.auth {
    /* background-color: var(--background-floating); */
    background-color: transparent;
    color: var(--color-primary);

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    --font-family: 'Roboto Mono';
    font-family: var(--font-family) !important;
}

.authBox {
    width: auto;

    background-color: var(--background-secondary);

    border-radius: 5px;
    padding: 2rem;

    box-shadow: 2px 4px 8px var(--guild-header-text-shadow);
}

.auth h4 {
    font-size: .7rem;
    font-weight: 600;

    margin: 0;
    margin-bottom: 8px;

    color: var(--channels-default);
}

.authLeft > div > div:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.authLeft h3 {
    font-size: .8rem !important;
}

.authLogin {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.authLogin > div:first-of-type {
    display: flex;
    flex-direction: column;
}

.authLogin > div:first-of-type h2 {
    font-weight: 600;

    font-weight: 600;
    color: var(--header-primary);

    margin: 0;
    margin-bottom: 8px;

    font-size: 1.3rem;
    line-height: 30px;
}

.authLogin > div:first-of-type h3 {
    font-weight: 300;
    font-size: 1rem;
    margin: 0;

    color: var(--header-secondary);
    text-rendering: optimizeLegibility;
}

.authInput {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 2px;

    font-family: var(--font-family) !important;
}

.authInput h4 {
    color: var(--channels-default);
    margin-bottom: 8px;
    font-size: .68rem;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;

    user-select: none;
}

.authInput h5 {
    color: var(--channels-default);
    margin: 0px;
    font-size: .8rem;
    line-height: 16px;
    font-weight: 400;

    user-select: none;
}

.authLeft {
    min-width: 400px;
}

.authLogin a {
    font-size: .8rem;
    font-weight: 400;
    color: var(--text-link);
    margin: 0;

    margin-top: 8px;
}

.authLogin p {
    font-size: .6rem;
    color: var(--primary-color);
    margin-bottom: 0;
    opacity: .6;

    margin: 0rem;
}

.authLogin a {
    font-size: .6rem;
    color: var(--channels-default);
    margin-bottom: 0;
    opacity: .6;
}

.authSuccess {
    display: flex;
    flex-direction: column;
  
    color: var(--text-normal);
    align-items: center;
    justify-content: center;

    flex: 1;
    height: 100%;

    gap: 1rem;

    min-height: 250px;
}

.authSuccess > div:last-of-type {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.authSuccessCircle {
    height: 128px;
    width: 128px;

    border-radius: 50%;

    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.authSuccess h3 {
    font-weight: 200;
    color: var(--header-secondary);
    margin: 0;

    font-size: 1rem;
}

.authSuccess h1 {
    font-weight: 900;
    margin: 0;

    font-size: 2rem;
    color: var(--header-primary);
}

/* Server Invite */

.authServerInviteBox {
    width: 360px;
    width: 360px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: relative;
    border-radius: 5px;

    box-shadow: var(--elevation-high);
    background-color: var(--background-floating);

    transition: all .1s ease;
}

.authLeft {
    flex: 1;
}

.inviteIcons {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 1.5rem;
}

.inviteIcons img {
    height: 80px;
    width: 80px;

    border-radius: 50%;
}

.inviteIconLinkers {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 4px;
}

.inviteIconLinkers > div {
    height: 4px;
    width: 4px;

    border-radius: 50%;
    background-color: var(--background-modifier-selected);
}

.inviteIconLinkerFailed > div {
    height: 4px;
    width: 4px;

    border-radius: 50%;
    background-color: var(--background-modifier-selected);
}

.inviteIconLinkerFailed {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 4px;
}

.inviteText {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;

    color: var(--text-normal);
}

.inviteText h1 {
    font-size: 20px;
    line-height: 24px;

    color: var(--header-primary);
    margin: 0%;
}

.inviteText h6 {
    font-weight: 500;

    margin-bottom: 8px;

    font-size: 16px;
    line-height: 20px;

    color: var(--header-secondary);
    margin-top: 0;
}

.inviteText p {
    font-size: .9rem;
    line-height: 18px;

    color: var(--text-muted);

    font-weight: 400;
    margin: 0;
}

.inviteText > p b {
    font-size: 14px;
    line-height: 18px;

    font-weight: 500;
    color: var(--text-normal);
}

.inviteText > h6 b {
    line-height: 18px;
    color: var(--text-normal);
}

.inviteText i {
    font-style: normal;

    display: inline;
    color: var(--interactive-normal);

    font-size: 14px;
    line-height: 18px;

    font-weight: 300;
}

.inviteText a {
    color: var(--color-primary);
    cursor: pointer;
}

.authLoginAlt {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    padding: 3rem;
}

.authLoginAlt > div:last-of-type p {
    font-weight: 400;

    font-size: 12px;
    line-height: 16px;

    color: var(--text-muted);
    margin: 0%;
}

.authLoginAlt > div:last-of-type {
    display: flex;
    flex-direction: column;

    gap: .5rem;
}

.authLoginAlt > div:last-of-type div {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: .5rem;
}

.approvedCheck {
    height: 22px;
    width: 22px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--bg-positive);
}

.deniedCross {
    height: 22px;
    width: 22px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--background-accent);
}

.access {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.access h2 {
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--text-muted);
    margin: 0;
}

.access p {
    margin: 0;
    color: var(--text-normal);

    font-weight: 500;

    font-size: 16px;
    line-height: 20px;

    color: var(--text-normal);

    outline: 0;
}

.access > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
}

.authServerInviteBox hr {
    width: 100%;
    height: 1px;

    background-color: var(--activity-card-background);
    border: none;
}

.authBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;

    padding: 1rem;
    gap: 1rem;

    background-color: var(--background-secondary-alt);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.authBottom button:first-of-type {
    background-color: transparent;
}

.authBottom button {
    width: auto;

    width: 96px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
}

.codeAuth {
    display: flex;
    padding: 1rem;

    flex-direction: column;

    width: 100%;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--background-tertiary);
    border-radius: 5px;

    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.codeAuth input {
    max-width: 0;
    max-height: 0;
    opacity: 0;
}

.codeAuth > div:first-of-type > div  {
    border-bottom: 1px solid var(--text-muted);
    height: 50px;
    width: 30px;

    font-weight: 300;
    color: var(--text-normal);

    font-size: 1.3rem;
}

.loadingDiv {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 100%;
}

.authLoginAlt h2 { 
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--text-muted);
    margin: 0;
}

.authLoginAlt > div > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-muted);
    margin: 0%;
    margin-bottom: 1rem;
}

.filledCodeInputModule {
    border-color: var(--text-normal) !important;
    color: var(--text-normal);
}

.codeAuth > div:first-of-type > div:not(.filledCodeInputModule):first-of-type {
    /* animation: Blink 1s ease 1s infinite normal; */
    border-color: var(--text-normal);
}

.cursorDiv {
    height: 70%;
    width: 1px;
    background-color: var(--text-normal);

    animation: BlinkCursor .9s ease 1s infinite normal;
}

.codeAuth > div:first-of-type > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.codeAuth > div:first-of-type {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: space-around;
}

.codeAuth > div > div.filledCodeInputModule:nth-of-type(4) {
    animation: Blink 1s ease 1s infinite normal !important;
    animation: BlinkCursor .9s ease 1s infinite normal;
}

@keyframes Blink {
    0% {
        border-color: var(--text-normal) !important;
    }
    50% {
        border-color: var(--text-muted) !important;
    }
    100% {
        border-color: var(--text-normal) !important;
    }
}
@keyframes BlinkCursor {
    0% {
        background-color: var(--text-normal);
    }
    50% {
        background-color: var(--text-muted);
    }
    100% {
        background-color: var(--text-normal);
    }
}

.authCode {
    display: flex;
    flex-direction: column !important;
}

.invalidCode p {
    color: var(--text-muted);
    font-weight: 300;
    margin: 0;
    font-size: .8rem;
}

.verifText {
    text-align: left;
    font-size: .8rem !important;
    margin-top: .3rem !important;
}

.authServerInviteBox a {
    color: var(--color-primary);
    cursor: pointer;
    font-weight: 400;
}

.approvedCodeOverlay {
    background-color: var(--bg-positive);
    position: absolute;

    left: 0%;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    animation: slideIn .55s cubic-bezier(.37,.24,0,1) 0s 1 normal ;
}

@keyframes slideIn {
    from {
        opacity: 0;
        left: -100%;
    }
    to {
        opacity: 1;
        left: 0%
    }
}

.overlayLinkForwarder {
    display: flex;

    padding: 1rem 2rem;
    background-color: var(--background-tertiary);
    border-radius: 5px;
    color: var(--text-normal);

    margin-top: .4rem;
    margin-bottom: .4rem;

    font-weight: 300;
    font-size: .9rem;

    cursor: pointer;
    width: 100%;
}

.overlayLinkForwarder p {
    margin: 0;
}

.overlayLinkForwarder {
    position: relative;
    display: inline-block;
}

.overlayLinkForwarder .tooltip {
    visibility: hidden;
    width: 140px;
    background-color: var(--background-secondary);
    color: var(--text-normal);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* .overlayLinkForwarder .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background-secondary) transparent transparent transparent;
} */

.overlayLinkForwarder:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.about {
    width: 30%;
}

.about p {
    font-size: .8rem;
    text-align: justify;
    font-weight: 300;
    opacity: .8;
}

.authError {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 1rem;
    padding: 0rem 1rem;

    border-radius: 5px;
}

.authError p {
    font-size: .8rem;
    color: var(--primary-color);
    font-weight: 300;
    margin: 0;
}

.authError svg {
    opacity: .8;
}