.container {
  min-height: 100vh;
  max-height: 100vh;
  padding: 0 0.5rem;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: space-between;

  background-color: rgba(254, 250, 243, 0);
  color: #0b2e56;

  font-family: 'Public Sans';
}

.container input {
  border-radius: 3px;
  width: 40%;

  font-family: 'Public Sans';

  padding: 1rem 1rem;
  border: 2px solid rgba(11, 46, 86, 0.192);
  background-color: #fff;
}

.container input:focus {
  border-color: #0b2e56;
  outline: none;
}

/* .time {
  background-color: rgb(255 255 255 / 0%);
  backdrop-filter: blur(5px);

  padding: 1rem;
  border-radius: 3px; 
} */

.time h1 {
  margin: 0;
  line-height: 8rem;

  font-size: 8rem;
  margin: 0rem;

  user-select: none;
}

.time p {
  margin: 0;
  font-size: 1rem;

  user-select: none;
}

.time > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.time svg:hover {
  cursor: pointer;
}

.leftSide {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: 5rem;
}

.rightSide {
  padding: 5rem;
}

.rightSide > div {
  width: 20vw;
}

.toDo {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.toDo input {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 0rem !important;
  color: #3b3b3b;

  gap: 1rem;

  background-color: #fff;
  border-radius: 3px;

  border: none;
  margin-block-start: 1em;
  margin-block-end: 1em;

  font-size: 1rem;
}

.todoHeader {
  background-color: #ffffff;
  color: black;

  padding: 0rem 1rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.todoHeader svg:hover {
  cursor: pointer;
}

.todoHeader h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.todoHeader input {
  font-size: 1.2rem;
  font-weight: 400;

  background-color: transparent;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.todoBody {
  flex: 1;
  height: 100%;
  padding: .3rem;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  backdrop-filter: saturate(180%) blur(20px);

  background-color: rgba(255, 255, 255, 0.596);

  overflow: auto;
}

.todoBody > div {
  width: 100%;
  padding: .3rem;
}

.todoBody > div > div:hover {
  background-color: #e7fdeb;
}

.todoBody input {
  width: 100%;
  padding: .3rem;
}

.todoBody svg:hover {
  cursor: pointer;
}

.todoBody > div > div {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: .2rem 1rem;
  color: #3b3b3b;

  gap: 1rem;

  background-color: #fff;
  border-radius: 3px;
}

.todoBody > div > div > *:not(p) {
  user-select: none;
}

.todoBody > div > div > div {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}

.todoLabel {
  flex: 1;
  text-align: left;
  width: 100%;
}

.completedTask {
  background-color: rgb(197, 252, 215) !important;
  color: rgb(34, 109, 56) !important;
}

.todoTrashHover {
  stroke: rgb(214, 72, 72);
}

.settingsOverlay {
  position: absolute;
  
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  user-select: none;
  backdrop-filter: blur(5px);
}

.settingsOverlay > div {
  border-radius: 3px;
  position: relative;

  width: 20%;
  height: 50%;

  pointer-events: all;
}

.settingsOverlay svg:hover {
  cursor: pointer;
}

.settingsHeader {
  background-color: #e2e2e2 !important;
  color: black;

  padding: 0rem 1rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  height: fit-content;
  font-weight: 300;
}

.settingsHeader h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.settingsBody {
  flex: 1;
  height: 100%;
  padding: .3rem;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  backdrop-filter: saturate(180%) blur(20px);

  background-color: rgba(255, 255, 255, 0.596);
}

.settingsItem {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: .5rem 1rem;
  color: #3b3b3b;
}

.photoCredit {
  position: absolute;

  bottom: 0;
  right: 0;

  margin: 0 !important;
  padding: 1.5rem;
}

.photoCredit p {
  margin: 0 !important;
}

.photoCredit > p {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: .2rem;
}

.photoCredit > p > p {
  opacity: .4;
}

.photoCredit a {
  opacity: .4;
}

.photoCredit a:hover {
  opacity: 1;
}