.container {
  min-height: 100vh;
  max-height: 100vh;
  padding: 0 0.5rem;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: space-between;

  background-color: rgba(254, 250, 243, 0);
  font-family: 'Public Sans';

  --primary-color: #3b3b3b;
  --complementary-color: #fff;
  --background-color: #eeebe2;
  --clock-color: #fff;
  --approval-color: #226d38;

  background-color: rgb(var(--wallpaper-color));

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 1;
  position: relative;
}

.custom { 
  transition: .55s ease all;

  display: flex;
  flex-direction: row;
  gap: 1rem;

  font-size: .8rem !important;
}

.customActive {
  opacity: 1;
  pointer-events: all;
}

.customDeactivated {
  opacity: .1;
  pointer-events: none;
}

.backgroundBlur {
  position: absolute;
  z-index: 0;
}

.themeList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 1rem;

  margin-bottom: 3rem;
}

.custom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.themeIcon {
  background-color: rgb(var(--background-color));
  color: rgb(var(--primary-color));

  padding: .4rem .6rem;
  border-radius: 5px;
  /* border: 1px solid transparent; */

  width: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  font-size: .9rem;
}

.themeIcon:hover {
  cursor: pointer;
  /* border: 1px solid var(--primary-color); */
}

.themeActive {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(var(--primary-color));
}

.background {
  position: absolute;

  width: 100%;
  height: 100%;

  left: 0;

  overflow: hidden;
}

.background h1 {
  font-weight: 900;
  font-family: 'Public Sans';

  font-size: 4rem;

  position: absolute;
  color: rgba(255, 255, 255, 0.096);

  padding: 5rem;
}

.container input {
  border-radius: 3px;
  width: 40%;

  font-family: 'Public Sans';

  padding: 1rem 1rem;
  /* border: 2px solid rgba(11, 46, 86, 0.192); */
  background-color: rgb(var(--background-color));
}

.container input:focus {
  /* border-color: #0b2e56; */
  outline: none;
}

/* .time {
  background-color: rgb(255 255 255 / 0%);
  backdrop-filter: blur(5px);

  padding: 1rem;
  border-radius: 3px; 
} */

.time h1 {
  margin: 0;
  line-height: 8rem;

  font-size: 8rem;
  margin: 0rem;

  user-select: none;
}

.time p {
  margin: 0;
  font-size: 1rem;

  user-select: none;
}

.time > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.time svg:hover {
  cursor: pointer;
}

.leftSide {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: 5rem;

  z-index: 2;
}

.rightSide {
  padding: 5rem;
  z-index: 2;
  font-family: 'Roboto Mono';
}

.rightSide > div {
  width: 20vw;

  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.rightSide > div input {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 0rem !important;
  color: rgb(var(--primary-color));

  gap: 1rem;

  background-color: transparent;
  border-radius: 3px;

  border: none;
  margin-block-start: 1em;
  margin-block-end: 1em;

  width: 100%;
  font-size: 1rem;
  font-family: "Roboto Mono";
}

.toDo {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.toDo input {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 0rem !important;
  color: rgb(var(--primary-color));

  gap: 1rem;

  background-color: transparent;
  border-radius: 3px;

  border: none;
  margin-block-start: 1em;
  margin-block-end: 1em;

  font-size: 1rem;
}

.todoHeader {
  background-color: rgb(var(--background-color));
  color: rgb(var(--primary-color));

  padding: 0rem 1rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.todoHeader svg:hover {
  cursor: pointer;
}

.todoHeader h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.todoHeader input {
  font-size: 1.2rem !important;
  font-weight: 400 !important;

  background-color: transparent;
  margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important;
}

.todoBody {
  flex: 1;
  height: 100%;
  padding: .3rem;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  backdrop-filter: saturate(180%) blur(20px);

  background-color: rgba(var(--background-color), 0.5);

  overflow: auto;
}

.todoBody > div {
  width: 100%;
  padding: .3rem;
}

.todoBody > div > div:hover {
  /* background-color: #e7fdeb; */
  cursor: pointer;
}

.todoLabel p {
  cursor: text;
}

.todoBody input {
  width: 100%;
  padding: .3rem;
  cursor: text;
}

.todoBody svg:hover {
  cursor: pointer;
}

.todoBody > div > div {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: .2rem 1rem;
  color: rgb(var(--primary-color));

  gap: 1rem;

  background-color: rgb(var(--background-color));
  border-radius: 3px;
}

.todoBody > div > div > *:not(p) {
  user-select: none;
}

.todoBody > div > div > div {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}

.todoLabel {
  flex: 1;
  text-align: left;
  width: 100%;
  font-size: 1rem;
}

.completedTask {
  background-color: rgba(calc(var(--approval-color) - 150), 1); /* rgb(197, 252, 215) !important; */
  color: rgb(var(--approval-color)) !important;
}

.todoTrashHover {
  stroke: rgb(214, 72, 72);
}

.logo {
  height: 25px;
  width: 25px;

  background-color: rgb(var(--primary-color));
  border-radius: 45%;

  color: var(var(--complementary-color));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .7rem;

  cursor: pointer;
}

.new {
  position: absolute;

  border-radius: 15px;
  padding: .1rem .8rem;

  left: -35%;
  color: rgb(var(--primary-color));
}

.settingsOverlay {
  position: absolute;
  
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  user-select: none;
  backdrop-filter: blur(5px);
  background-color: rgb(var(--background-color));
  color: rgb(var(--primary-color));
  
  z-index: 50;

  transition: .55s ease;
  font-family: 'Roboto Mono' !important;
}

.settingsOverlay > div {
  border-radius: 3px;
  position: relative;

  width: 80%;
  /* height: 50%; */

  max-height: 90%;
  height: 90%;
  /* overflow-y: auto; */

  pointer-events: all;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settingsOverlay svg:hover {
  cursor: pointer;
}

.settingsToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  height: 100%;
  flex: 1;

  position: absolute;
  left: -8%;
  /* top: 50%; */

  z-index: 550;
  color: rgb(var(--primary-color));
}

.settingsToggle > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.settingsToggleList > div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: .5rem;
} 

.settingsToggle > div:last-of-type {
  flex-direction: row;
}

.settingsActivePannel {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--complementary-color));

  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem;
}

.settingsActivePannel input {
  border: none;
  background-color: transparent;
}

.settingsHeader {
  /* background-color: #e2e2e2 !important; */

  padding: 0rem 1rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  height: fit-content;
  font-weight: 300;

  width: 100%;
}

.settingsHeader > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.settingsHeader > div > div {
  border-radius: 45%;
  background-color: rgb(var(--primary-color));

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: .3rem;

  cursor: pointer;
}

.settingsHeader h2 {
  font-size: 1.2rem;
  font-weight: 400;

  color: rgb(var(--primary-color));
}

.searchEngine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchEngine > div {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  gap: 1rem;
}

.searchEngine > div div {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--complementary-color));
  border-radius: 15px;

  padding: .1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: left;

  opacity: 0.4;
  cursor: pointer;
  /* transition: .2s ease all; */

  padding: .4rem .6rem;
  border-radius: 5px;
  width: 200px;
}

.searchEngine > div div:hover {
  opacity: .6;
}

.searchEngine .activePannel:hover {
  opacity: 1;
}

.searchEngine .activePannel {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--complementary-color));
  opacity: 1;
}

.settingsBody {
  flex: 1;
  /* height: ; */
  /* height: 100%; */
  padding: .3rem;

  width: 80%;
  height: 80%;

  overflow-y: auto;
  overflow-x: visible;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  /* backdrop-filter: saturate(180%) blur(20px); */

  /* background-color: rgba(255, 255, 255, 0.596); */
}

.settingsBody hr {
  border: none;
  height: 1px;

  opacity: .5;
  border-radius: 15px;
  background-color: rgb(var(--primary-color));
}

.settingsBody > div > p {
  font-size: .9rem;
  opacity: .8;
}

.settingsItem {
  display: grid;
  grid-template-columns: 25% 1fr auto;

  justify-content: space-between;
  align-items: center;

  padding: .5rem 1rem;
  color: rgb(var(--primary-color));

  font-size: 1rem;
}

.settingsItem p {
  text-transform: capitalize;
}

.settingsItem h6 {
  flex: 1;
  font-weight: 400;
}

.settingsItem > div:last-of-type {
  cursor: pointer;
}

.photoCredit {
  position: absolute;

  bottom: 0;
  right: 0;

  margin: 0 !important;
  padding: 0 1.5rem;

  z-index: 30;
}

.prefrencesList * {
  margin: 0;
}

.prefrencesList {
  display: flex;
  flex-direction: column;

  gap: .8rem;
}

.powerBindList h6 {
  flex: 1 1;
  font-weight: 400;
}

.powerBindList {
  display: flex;
  flex-direction: column;

  gap: .8rem;
}

.powerBindList * {
  margin: 0;
}

.powerBindListElement {
  display: grid;
  grid-template-columns: auto 15% 1fr auto;

  align-items: center;
  gap: 1rem;
}

.powerBindListElement > div:first-of-type {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--complementary-color));
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: .8rem;
  margin: 0 !important;

  cursor: pointer;
}

.powerBindListElement > div:first-of-type * {
  margin: 0 !important;
  height: 18px;
  width: 18px;

  text-align: center;
}

.photoCredit h6 {
  display: flex;
  flex-direction: row;

  gap: 5px;
}

.photoCredit p {
  margin: 0 !important;
}

.photoCredit > h6 {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: .2rem;
}

.photoCredit > h6 > p {
  opacity: .4;
}

.photoCredit a {
  opacity: .4;
}

.photoCredit a:hover {
  opacity: 1;
}

.none {
  display: none !important;
  visibility: hidden !important;
}

.search {
  position: absolute !important;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: .2s ease all;

  font-family: 'Roboto Mono' !important;
}

.searchActive {
  opacity: 1 !important; 
}

.search > div {
  border-radius: 5px;
  padding-right: 1rem;

  /* border: 1px solid #3b3b3b; */
  z-index: 100;
  width: 25%;

  bottom: 5%;
  position: absolute;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: rgb(var(--background-color));

  border-radius: 5px;
  padding-right: 1rem;
}

.search input {
  width: 100%;
  border: 1px solid transparent;

  outline: none;
  /* border: 1px solid #3b3b3b !important; */

  font-family: 'Roboto Mono' !important;
  color: rgb(var(--primary-color));
}

.searchResults {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.658);
  backdrop-filter: blur(5px);

  /* margin-bottom: 1rem; */
  border-radius: 5px;
}

.searchResults > div {
  display: grid;
  grid-template-columns: 15% 1fr;
  align-items: center;
}

.searchResults > div * {
  margin: 0;
  font-size: .8rem;

  color: rgb(var(--primary-color));
}

.keyOverlay {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

.keyOverlay > div {
  background-color: rgb(var(--background-color));
  color: rgb(var(--primary-color));

  /* border: 2px solid var(--primary-color); */
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 50%;
  height: auto;

  padding: 2rem;
  box-shadow: 0px 0px 3px 0px rgb(var(--primary-color));
}

.keyOverlay > div * {
  margin: 0;
}

.keyOverlay > div p {
  font-size: .8rem;
}

.keyOverlay .settingsActivePannel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyOverlay .settingsActivePannel p {
  height: 22px;
  width: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.keyOverlay > div input {
  border: none; 
  width: 100%;

  color: rgb(var(--background-color));
  background-color: rgb(var(--primary-color));
  font-family: 'Roboto Mono';
}

.keyOverlay > div input:disabled {
  opacity: .2;
}

.keyOverlay textarea {
  border: none;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--complementary-color));

  padding: 1rem;
  border-radius: 5px;

  resize: none;
}

.welcomePage {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  height: 100%;

  animation: transitionIn .55s ease;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-15%);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.welcomePage h1 {
  font-size: 3rem;
  margin: 0;
}

.button {
  cursor: pointer;

  border: none;
  background-color: transparent;
  font-family: inherit;
  color: rgb(var(--primary-color));
  opacity: .8;

  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 1rem;
}

.button svg {
  stroke: rgb(var(--primary-color)) !important;
}

.input {
  font-size: .8rem;

  box-sizing: border-box;
  width: 100% !important;
  border-radius: 0px !important;

  padding: 0rem .5rem !important;

  /* background-color: var(--primary-color) !important; */
  /* border: 1px solid var(--deprecated-text-input-border); */
  color: rgb(var(--primary-color)) !important;

  transition: border-color .2s ease-in-out;
  padding: 10px;
  height: 40px;

  font-family: "Roboto Mono" !important;
  font-weight: 300;

  border: none;
  border-bottom: 2px solid rgb(var(--primary-color));
}

.input:focus {
  outline: none;
  /* border: 1px solid var(--color-primary); */
  /* background-color: var(--primary-color) !important; */
  color: rgb(var(--primary-color)) !important;
}

.inputModule h4 {
  color: rgb(var(--channels-default));
  margin-bottom: 8px;

  font-size: .68rem;
  line-height: 16px;

  font-weight: 600;
  text-transform: uppercase;

  user-select: none;
}

.inputActive {
  border-color: rgb(var(--deprecated-text-input-border));
  background-color: rgb(var(--deprecated-text-input-bg));
}

.authTrue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: .5rem;

  background-color: rgb(var(--primary-color));
  border-radius: 45%;
}

.accountLink {
  display: grid;
  grid-template-columns: 25% 1fr auto;
  align-items: center;

  gap: 1rem;
}

.accountLink > *:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.activeJott {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--complementary-color));
}

.jottHeader {
  background-color: rgb(var(--background-color));
  color: rgb(var(--primary-color));

  padding: 0rem 1rem;

  display: flex;

  align-items: center;
  justify-content: space-between;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.jottHeader svg:hover {
  cursor: pointer;
}

.jottHeader h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;

  cursor: pointer;
}

.jottHeader input {
  font-size: 1.2rem !important;
  font-weight: 400 !important;

  background-color: transparent;
  color: rgb(var(--complementary-color)) !important;

  margin: 0 !important;
  /* margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important; */
}

.jottList {
  display: flex;
  flex-direction: row;

  padding-top: 2%;
  gap: 1rem;
}

.jottList > * {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  padding: .5rem 1rem;
  cursor: pointer;
}

.jottList > .activeJott h2 {
  cursor: text;
}

.innactiveJott {
  background-color: rgba(var(--primary-color), .2);
  color: rgba(var(--primary-color), 1);
}

.jottBody {
  flex: 1;
  height: 100%;
  padding: .3rem;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  backdrop-filter: saturate(180%) blur(20px);

  background-color: rgba(var(--background-color), 0.5);

  overflow: auto;
}

.jottBody textarea {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  outline: none;
}